.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3c185a;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* TABLE */
.App .table {
  margin-bottom: 30px;
}

.App a {
  text-decoration: none;
  color: black;
}
.App a:visited {
  color: black;
}
.App a:hover {
  font-size: 1.1em;
}

.App table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 150px;
}
.App td:first-child {
  width: 100px;
}
.App td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 450px;
}
.App table tr:nth-child(even) {
  background-color: #8736ca;
}
.App table tr:nth-child(odd) {
  /* background-color: #6DF300; */
}
.App .heading {
  margin-left: 150px;
  background-color: #8736ca;
}

/*  */
.App .vs:nth-child(1) {
  color: red;
}
.App .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .flex-item {
  padding: 10px 20px;
  min-width: 400px;
  height: 30px;
  border: 1px solid grey;
}

.App .flex-item:nth-child(even) {
  background-color: #8736ca;
}
.App .flex-item:nth-child(odd) {
  /*  background-color: #6DF300; */
}

/* predict */

.App .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 100px 370px;
  justify-items: center;
  align-items: center;

  grid-template-areas:
    "one two three"
    "four five six";
}
.App .one,
.two,
.three {
  font-size: 2em;
  font-family: fantasy;
}
.App .one {
  font-size: 3em;
  color: rgb(0, 2, 128);

  grid-area: one;
}
.App .two {
  grid-area: two;
}
.App .three {
  font-size: 3em;
  color: rgb(0, 2, 128);

  grid-area: three;
}
.App .four {
  grid-area: four;
}
.App .five {
  border: 2px solid #8736ca;
  color: black;

  grid-area: five;
}
.App .six {
  grid-area: six;
}

.win {
  background-color: red;
}
.lose {
  background-color: green;
}
